<!DOCTYPE html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
    <input id="text" type="text">
    <button onclick="submit_text()">Submit</button>
    <p>Output:<span id="result"></span></p>
</body>
<script src="../static/script.js"></script>